
:root {
    --primary-color: #004C99;
    /* Deep Navy Blue (Header, Primary Action) */

    --secondary-color: #fa0fface;
    /* purple */

    --accent1-color: #337CCF;
    /* Medium Bright Blue (Navigation BG) */

    --accent2-color: #17202A;
    /* Very Dark Blue/Black (Text) */

    --accent3-color: #5DADE2;
    /* Sky Blue / Highlight Blue (Hover) */

    --heading-font: "Alfa Slab One", sans-serif;
    --body-font: "Open Sans", sans-serif;
}



body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

marquee {
    padding: 1rem;
    background-color: #eee;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2 {
    color: navy;
    text-align: left;
}

article p {
    text-align: justify;
}

.callout {
    color: #000000;
    background-color: #f0ace3d7;
    padding: 1rem;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}



.banner {
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: rgb(230 243 254 / 1);
    font-weight: 700;
    word-break: break-word;
    text-align: center;
}