@media screen and (min-width: 640px) {
    #menu {
        display: none;
        /* hide hamburger */
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
    }
}