@media screen and (min-width: 500px) {

    header{
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }
    
    main {
        grid-template-columns: 1fr 1fr;
    }
    
}